@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background: url("/public/background.png") no-repeat center center/contain;
    background-size: cover;
    height: 6000px;
    margin: 0;
}

.introduce {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px 120px;
}

.introduce p {
    color: white;
    font-family: "Pretendard";
    font-size: 100px;
    font-weight: 900;
    word-break: break-word; /* 긴 단어가 줄 바꿈되게 설정 */
    margin: 0px;
}

.introduce .Typing {
    color: #6da4b0;
}

@media (max-width: 768px) {
    .introduce p {
        font-size: 50px; 
    }
}

@media (max-width: 480px) {
    .introduce p {
        font-size: 35px; 
    }
}
