@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background-color: black;
    margin: 0;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    background-color: black;
    z-index: 1000;
    white-space: nowrap; 
    overflow: hidden;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

header p {
    font-family: "Lilita One";
    font-size: 28px;
    margin-right: 1%;
}

.nav-right { 
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    align-items: center;
}

header ul li {
    margin-left: 30px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-family: "Pretendard";
    flex-shrink: 0;
}

header .apply {
    margin-left: 30px;
    padding: 8px 16px;
    background-color: chocolate;
    border-radius: 8px;
}

header .apply a {
    color: white;
    text-decoration: none;
    font-family: "Pretendard";
    font-weight: bold;
}

@media (max-width: 1024px) {
    header {
        padding: 15px 40px;
    }

    header p {
        font-size: 24px; 
    }

    header ul {
        font-size: 16px;
    }

    header .apply {
        padding: 6px 12px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    header p {
        font-size: 20px;
    }

    header ul {
        font-size: 14px;
    }

    header .apply {
        padding: 5px 10px;
        font-size: 12px;
    }
}