@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background: #000000;
    background-size: cover;
    height: 6000px;
    margin: 0;
}

.introduce {
    display: flex;
    margin-top: 280px;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px 120px;
}

.introduce p {
    color: white;
    font-family: "Pretendard";
    font-size: 48px;
    font-weight: 700;
    word-break: break-word;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.introduce .Hi {
    font-size: 60px;
    margin-bottom: 28px;
}

.introduce .motto {
    color: rgb(170, 170, 170);
    font-size: 20px;
    margin-top: 28px;
    font-weight: 400;
}

.introduce .Typing {
    color: rgb(100, 100, 199)
}