@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  font-size: 16px;
}

body {
  background: #000000;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.introduce {
  display: flex;
  margin-top: 17.5rem; 
  min-height: 100vh;
  flex-direction: column;
  padding: 0 7.5vw;
  position: relative;
}

.introduce p {
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: clamp(1.75rem, 3vw, 3rem); 
  font-weight: 700;
  word-break: break-word;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.introduce .Hi {
  font-size: clamp(2.5rem, 5vw, 3.75rem); 
  margin-bottom: 1rem;
}

.introduce .motto {
  color: rgb(170, 170, 170);
  font-size: clamp(1rem, 2vw, 1.25rem); 
  margin-top: 1.75rem;
  font-weight: 400;
}

.introduce span {
  color: rgb(100, 100, 199);
  display: inline;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  display: inline;
}

.All .more-button {
  margin-top: 11.25rem;
  padding: 0.75rem 1.25rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.625rem;
  cursor: pointer;
  background-color: black;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.more-button::after {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  background-color: white;
  margin: 0.625rem auto 0;
  animation: slideLine 2s infinite;
  opacity: 0;
}

@keyframes slideLine {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

/* 모바일용 줄바꿈 */
.mobile-break {
  display: none;
}

@media (max-width: 600px) {
  .mobile-break {
    display: inline;
  }
}